<div class="c-modal-{{if this.editSlot "edit" "add"}}-slot c-modal-dialog">

  <div class="c-modal-dialog__header">

    <h3 class="c-modal-dialog__heading">{{if @editSlot "Edit" "Add"}} Slot</h3>

    <div class="c-modal-dialog__heading-actions">
      <button type="button" class="c-modal-dialog__close-action"
        title="close dialog"
        {{on "click" (close-modal)}}>
        X
      </button>
    </div>

  </div>

  <div class="c-modal-dialog__content">

    <label>
      <span class="c-label__label">Name:</span>
      <Input @type="text" @value={{@slot.name}}/>
    </label>

    {{yield}}

  </div>

  <div class="c-modal-dialog__footer">

    <div class="c-modal-dialog__footer-actions">

      {{#if @editSlot}}
        <button type="button" class="c-modal-edit-slot__delete-action"
          {{on "click" @deleteSlot}}>
          Delete
        </button>
      {{/if}}

      <button type="button" class="c-modal-edit-slot__save-action"
        {{on "click" @saveSlot}}>
        {{if @editSlot "Update" "Add"}}
      </button>

    </div>

  </div>

</div>
