<div class="c-modal-{{if @editAttendee "edit" "add"}}-attendee c-modal-dialog">
  <div class="c-modal-dialog__header">
    <h3 class="c-modal-dialog__heading">{{if @editAttendee "Edit" "Add"}} Attendee</h3>
    <div class="c-modal-dialog__heading-actions">
      <button type="button" class="c-modal-dialog__close-action"
        title="close dialog"
        {{on "click" (close-modal)}}>
        X
      </button>
    </div>
  </div>
  <div class="c-modal-dialog__content">
    <label>
      <span class="c-label__label">Name:</span>
      <Input @type="text" @value={{@attendee.name}}/>
    </label>
    <label>
      <span class="c-label__label">Color:</span>
      <ColorPicker @color={{@attendee.color}}
        @attendee={{@editAttendee}}
        @onPick={{set @attendee "color"}}
      />
    </label>
    {{yield}}
  </div>
  <div class="c-modal-dialog__footer">
    <div class="c-modal-dialog__footer-actions">
      {{#if @editAttendee}}
        <button type="button" class="c-modal-edit-attendee__delete-action"
          {{on "click" @deleteAttendee}}>
          Delete
        </button>
      {{/if}}
      <button type="button" class="c-modal-add-attendee__save-action"
        {{on "click" @saveAttendee}}>
        {{if @editAttendee "Update" "Add"}}
      </button>
    </div>
  </div>
</div>
