<div class="c-meal-list">
  <div class="c-meal-list__header">
    <h2 class="c-meal-list__heading">Meals</h2>
    <div class="c-meal-list__header-actions">
      <button type="button"
        class="c-meal-list__header-action c-meal-list__header-action--add"
        title="Add Meal" {{on "click" (open-modal "add-meal")}}>
        <svg class="c-meal-list__header-action-icon c-meal-list__header-action-icon--add"
          width="18" height="18">
          <use xlink:href="#add-icon"></use>
        </svg>
        <span class="c-meal-list__header-action-text c-meal-list__header-action-text--add">Add Meal</span>
      </button>
      {{#if @closeSideBar}}
        <button type="button"
          class="c-meal-list__header-action c-meal-list__header-action--close"
          title="Close Side-Bar" {{on "click" @closeSideBar}}>
          <svg class="c-meal-list__header-action-icon
            c-meal-list__header-action-icon--close"
            width="18" height="18">
            <use xlink:href="#close-icon"></use>
          </svg>
          <span class="c-meal-list__header-action-text
            c-meal-list__header-action-text--close">Close Side-Bar</span>
        </button>
      {{/if}}
    </div>
  </div>
  <div class="c-meal-list__list">
    {{#each @meals as |meal|}}
      <div class="c-meal-list__meal">
        <span class="c-meal-list__meal-name">{{meal.name}}</span>
        <span class="c-meal-list__meal-actions">
          <button type="button"
            class="c-meal-list__action c-meal-list__action--edit"
            title="Edit Meal" {{on "click" (open-modal "edit-meal" meal.id)}}>
            <svg class="c-meal-list__action-icon c-meal-list__action-icon--edit"
              width="18" height="18">
              <use xlink:href="#edit-icon"></use>
            </svg>
            <span class="c-meal-list__action-text c-meal-list__action-text--edit"
            >Edit Meal</span>
          </button>
        </span>
        <span class="c-meal-list__meal-tags"><MealTags @meal={{meal}} /></span>
        <span class="c-meal-list__favorites">
          {{#each this.attendees as |attendee|}}
            <span class="c-meal-list__favorite"
              style={{trusted-html
                (if attendee.color (concat "background-color: " attendee.color))
              }}
              title="Click to remove favorite from &quot;{{attendee.name}}&quot;"
            >
              {{~initial attendee.name~}}
            </span>
          {{/each}}
          <span class="c-meal-list__favorite"
            title="Click to add as someone's favorite">...</span>
        </span>
      </div>
    {{/each}}
  </div>
</div>
{{yield}}
