<div class="c-meal-plan-schedule">
  {{#each @planMeals as |meal $index|}}
    {{#let (get this.dates $index) as |date|}}
      <div class="c-meal-plan-schedule__meal">
        <span class="c-meal-plan-schedule__date">
          <span class="c-meal-plan-schedule__date-day">
            {{~day-month date~}}
          </span>
          <span class="c-meal-plan-schedule__date-month">
            {{~month-short date~}}
          </span>,
          <span class="c-meal-plan-schedule__date-day-week">
            {{~day-week-short date~}}
          </span>
        </span>
        <span class="c-meal-plan-schedule__meal-name">{{meal.name}}</span>
        <span class="c-meal-plan-schedule__meal-tags"><MealTags @meal={{meal}} /></span>
        <span class="c-meal-plan-schedule__attendees">
          {{#each this.attendees as |attendee|}}
            <span class="c-meal-plan-schedule__attendee"
              style={{trusted-html
                (if attendee.color (concat "background-color: " attendee.color))
              }}
              title="Click to remove attendee &quot;{{attendee.name}}&quot;"
            >
              {{~initial attendee.name~}}
            </span>
          {{/each}}
          <span class="c-meal-plan-schedule__attendee"
            title="Click to add attendee">...</span>
        </span>
      </div>
    {{/let}}
  {{/each}}
</div>
{{yield}}
