<div class="c-modal-add-attendee c-modal-dialog">
  <div class="c-modal-dialog__header">
    <h3 class="c-modal-dialog__heading">Add Attendee</h3>
    <div class="c-modal-dialog__heading-actions">
      <button type="button" class="c-modal-dialog__close-action"
        title="close dialog"
        {{on "click" (close-modal)}}>
        X
      </button>
    </div>
  </div>
  <div class="c-modal-dialog__content">
    <label>
      <span class="c-label__label">Name:</span>
      <Input @type="text" @value={{this.attendeeName}}/>
    </label>
    <label>
      <span class="c-label__label">Color:</span>
      <ColorPicker @color={{this.attendeeColor}}
        @onPick={{this.onPickColor}}
      />
    </label>
    {{yield}}
  </div>
  <div class="c-modal-dialog__footer">
    <div class="c-modal-dialog__footer-actions">
      <button type="button" class="c-modal-add-attendee__save-action"
        {{on "click" this.addAttendee}}>
        Add
      </button>
    </div>
  </div>
</div>
