<div class="c-slot-list">

  <div class="c-slot-list__header">

    <h2 class="c-slot-list__heading">Slots</h2>

    <div class="c-slot-list__header-actions">

      <button type="button"
        class="c-slot-list__header-action c-slot-list__header-action--add"
        title="Add Slot" {{on "click" (open-modal "slot.add")}}>
        <svg class="c-slot-list__header-action-icon c-slot-list__header-action-icon--add"
          width="18" height="18">
          <use xlink:href="#add-icon"></use>
        </svg>
        <span class="c-slot-list__header-action-text c-slot-list__header-action-text--add">Add Slot</span>
      </button>

      {{#if @closeSideBar}}
        <button type="button"
          class="c-slot-list__header-action c-slot-list__header-action--close"
          title="Close Side-Bar" {{on "click" @closeSideBar}}>
          <svg class="c-slot-list__header-action-icon
            c-slot-list__header-action-icon--close"
            width="18" height="18">
            <use xlink:href="#close-icon"></use>
          </svg>
          <span class="c-slot-list__header-action-text
            c-slot-list__header-action-text--close">Close Side-Bar</span>
        </button>
      {{/if}}

    </div>

  </div>

  <div class="c-slot-list__list">

    <SortableList
      @list={{this.slots}}
      @onChange={{update-slots}}
    as |list|>

      <list.item as |slot|>
        <span class="c-slot-list__slot">

          <span class="c-slot-list__slot-name">{{slot.name}}</span>

          <span class="c-slot-list__slot-actions">
            <button type="button"
              class="c-slot-list__action c-slot-list__action--edit"
              title="Edit Slot"
              {{on "click" (open-modal "slot.edit" slot.id)}}>
              <svg class="c-slot-list__action-icon c-slot-list__action-icon--edit"
                width="18" height="18">
                <use xlink:href="#edit-icon"></use>
              </svg>
              <span class="c-slot-list__action-text c-slot-list__action-text--edit"
              >Edit Slot</span>
            </button>
          </span>

        </span>
      </list.item>

    </SortableList>

  </div>

</div>

{{yield}}
