<div class="c-modal-{{if @editMeal "edit" "add"}}-meal c-modal-dialog">
  <div class="c-modal-dialog__header">
    <h3 class="c-modal-dialog__heading">{{if @editMeal "Edit" "Add"}} Meal</h3>
    <div class="c-modal-dialog__heading-actions">
      <button type="button" class="c-modal-dialog__close-action"
        title="close dialog"
        {{on "click" (close-modal)}}>
        X
      </button>
    </div>
  </div>
  <div class="c-modal-dialog__content">
    <label>
      <span class="c-label__label">Name:</span>
      <Input @type="text" @value={{@meal.name}}/>
    </label>
    {{yield}}
  </div>
  <div class="c-modal-dialog__footer">
    <div class="c-modal-dialog__footer-actions">
      {{#if @editMeal}}
        <button type="button" class="c-modal-edit-meal__delete-action"
          {{on "click" @deleteMeal}}>
          Delete
        </button>
      {{/if}}
      <button type="button" class="c-modal-edit-meal__save-action"
        {{on "click" @saveMeal}}>
        {{if @editMeal "Update" "Add"}}
      </button>
    </div>
  </div>
</div>
