<header class="l-app__header">
  <svg class="l-app__header-icon l-app__header-icon--logo" width="32" height="32">
    <use xlink:href="#logo-icon"></use>
  </svg>
  <h1 class="l-app__heading">wtfdiet</h1>
  <div class="l-app__actions">
    <button type="button" class="l-app__action l-app__action--settings"
      title="Settings"
      {{on "click" (settings)}}
    >
      <svg width="24" height="24">
        <use xlink:href="#gear-icon"></use>
      </svg>
      <span class="l-app__action-text l-app__action-text--settings"
      >Settings</span>
    </button>
    <div class="l-app__action-icon l-app__action-icon--settings"
      title="Settings">
    </div>
  </div>
</header>
<div class="l-app__content">
  <div class="l-app__content-main">
    {{outlet}}
  </div>
  <div class="l-app__content-side">
    <SideBar @selected={{this.model.side}} />
  </div>
</div>
<Modals @modal={{this.model.modal}} @modalId={{this.model.modalId}} />
<Popups />
